#loader{
    height:50px;
    width:50px;
    border-top: 2px solid black;
    border-radius:50%;
    animation-name: spinn;
    animation-duration:3s;
    animation-iteration-count:infinite;

}


@keyframes spinn{
    from {transform:rotate(0deg);}
    to {transform:rotate(360deg);}
}