*{
    font-family: Times New Roman;
}
body {
    background-color: purple;
}

#box {
    background-color:blue;
}

.heading{
    color:red;
}

#RoadMap_heading {
    text-align:center;
    text-transform:uppercase;
}

button{
    background-color:green;
}

#outer{
    font-size:25px;
}

#inner{
    font-size:10px;
}