*{
    margin:0;
    padding:0;
}


body{
    text-align : center;
}

header {
    height:4vh;
    background-color:black;
    color:white;
    padding:2vmin;
}

.rpsMain {
    height:85vh;
    padding:5vmin;
    background-color:powderblue;
    border:2px solid black;
    display:flex;
    flex-direction:column;
    align-items:center;
}

.choices {
    display:flex;
    align-items:center;
    justify-content:center;
    gap:3vmin;
    height:40vmin;
    width:90vmin;
}

.scores{
    display:flex;
    align-content:flex-start;
    justify-content:space-around;
    gap:5vmin;
    height:40vmin;
    width:80vmin;
    flex-wrap:wrap
}

.ptsHeading{
    display:block;
    width:100vmin;
    color:Yellow;
    font-size:5vmin;
    background-color:gray;
}


footer {
    height:3vh;
    top:80vh;
    color:black;
    background-color:pink;
}


.choice{
    height:25vmin;
    width:25vmin;
    border-radius:50%;
}

img{
    width:21vmin;
}


.You{
    color:green;
    font-size:5vmin
}

.Opponent{
    color:red;
    font-size:5vmin;
}

.hide{
    display:none;
}



