.app-container{
  display:flex;
}

.content {
  width:100%;
}

.post-card {
  margin: 20px 50px;
  width: 30vw;
}

.hashtag {
  margin: 0px 3px;
}

.reactions {
  margin: 15px 0 0 0;
}

.create-post {
  max-width:40vw;
  margin-top:50px;
}

.spinner {
  margin:20vh 0;
}